/*About*/
*{
    background-color: rgb(245, 245, 248);
    padding: 0px;
    margin: 0px;

}
.about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.who{
    background-color: rgb(202, 195, 195);
    width: 100%;
    height: 300px;
    font-size: 20px;
}
.vision{
    background-color: white;
    width: 100%;
    height: 300px;
}
.mission{
    background-color: white;
    height: 300px;
}
.who1{
    background-color: rgb(202, 195, 195);
    height: 300px;
    font-size: 20px;
}
.vision2{
    background-color: rgb(202, 195, 195);
    height: 300px;
    font-size: 20px;
}
.mission3{
    background-color: white;
    height: 300px;
}
.vision img{
    width: 100%;
    height: 300px;
}
img{
    width: 100%;
    height: 300px;
}
p{
    padding: 24px;
    background: rgb(202, 195, 195);
}
strong{
    text-align: center;
}
h1{
    text-align: center;
}
@media screen {
    
}