*{
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
     cursor: default;
}
body{
    background-image: url(../images/background.jpg);
    background-size: cover;
}
/* .background-image{
    background-size: contain;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
} */
.nav-bar{
    text-decoration: none;
    width: 100%;
    
}
.nav-bar li button{
    border-radius: 20px;
    border: none;
    padding: 5px 15px;
    color: white;
    background-color:wheat;
    
}

.col2-f{
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: right;
   
}

.logo{
    width: 80px;
    height: 80px;
    margin-left: -150px;
    }
li{
display: inline-block;
list-style: none;
margin: 20px;

    }
    li a{
        color: black;
        font-size: 18px;
        font-weight: 500;
    }
  
    .btnf{
        border-radius: 20px;
        padding:10px;
        width: 120px;
        border: 0px solid none;
        cursor: pointer;
        
    }
    
.linee{
    width: 90vw;
    color: grey;

}
.linef{
    width: 225px}
a:hover{
    border:1px solid white;
    border-radius: 5px;
    background-color: palevioletred;
    transition: .0s;
    cursor: pointer;
}
.header-f{
    color: black;  

}
.col3-f{
    width: 33%;
    float: left;
    margin-left: 50px;
    text-align: center;
    font-size: 35px;
}
.col4-f{
    width: 600px;
    float: left;
    margin-top:200px ;
    margin-left:-600px ;
}

.col5-f{
    width: 25%;
    float: left;
    font-size: 35px;
    color: black;
    margin-top: -40px;
    margin-left: 300px;
}
.active{
    width: 300px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.actives{
color:black;
}
#logo-f{
    float:left;
    margin-left: 100px;
    color: #141E30;
}

         
.readmore {
    background-image: linear-gradient(to right, #141E30 0%, #243B55  51%, #141E30  100%);
    margin: 10px;
    padding: 15px 45px 20px 20px;
    text-align: right;
    text-transform: uppercase;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    margin-left: 200px;
    cursor: pointer;

  }

  .readmore:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
  }
.cute-par{
    text-align: center;
}
.footer-f {
    background-color: #141E30;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100vw;
    margin-bottom:-500px;
    margin-left: -25px;
    
  }
  
  
  .container-f {
    min-height: 100%;
    position: relative;
  }
  
  .rowf {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-colf {
    width: 25%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: black;
  }
  
  .footer-colf h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-colf ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-colf ul li {
    margin-bottom: 5px;
  }
  
  .footer-colf ul li a {
    color:black;
    text-decoration: none;
        align-items: flex-start;

  }
  
  .socials-f a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 5px;
    text-align: center;
    line-height: 30px;
    color: #777;
  }
  
  .footer-colf p {
    line-height: 1.5;
  }
  
  .footer-colf h4,
  .footer-colf p {
    margin-bottom: 10px;
  }
  @media (max-width: 768px) {
    .row1-f {
      flex-direction: column;
      align-items: flex-start;
    }
}  
.missionp img{
    border-radius: 45%;

}
.missionp h3{
    font-size: 20px;
}
.textp{
    margin-bottom: 15px;
    line-height: 1.5;
    text-align: center;
   
}

#titlep{
    text-align: center;
}



.leftp{
    display: flex;
    justify-content: space-between;
}
.leftp div{
    margin: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgb(187, 182, 182);
    background-color: rgb(226, 219, 219);

}
.leftp img:hover{
    cursor: pointer;
}

#titlep{
    margin-left: 20px;
    font-size: 3.0em;
}
.sectionp h3{
    font-size: 2.0em;

}


.leftp button{
    background: rgba(221, 213, 210, 0.87);
    padding:10px 15px;
    border-radius:5px;
    font-weight: bold;
    font-size: 0.9em;
    border: 1px solid black;  
}
.leftp button:hover{
    cursor: pointer;
    background-color: white;
    box-shadow: 5px 5px rgb(187, 182, 182);
}

 .learnmorep{
      margin: 20px;
      margin-top: 20px;
      border-radius: 5px;
      box-shadow: 2px 2px 2px 2px rgb(187, 182, 182);
 }

 .motivationp{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 }
 .motivationlist {
    list-style: none;
    padding: 0;
    margin: 0;
 }

 .motivationlist li {
    font-size: 20px;
    color: #555;
    margin-bottom: 15px;
    line-height: 1.5;
    font-style: italic;
    text-align: center;
   
  }
  .emoji{
    font-size: 3rem;

  }
  



 @media (max-width: 768px) {
    .leftp {
      display: grid;
      grid-template-columns: auto auto;
    }
    
    .leftp div {
      margin: 20px auto;
      margin-left: 1.0em;
    }
  }
  
  @media (max-width: 480px) {
    .sectionp h3 {
      font-size: 1.5em;
    }
  }
  @media(max-width: 360px){
    .leftp {
        display: grid;
        grid-template-columns: auto auto;
      }

  }
  
  

 ft-contact
*contact us page*
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containerback{
    background-color:black;
    justify-content: center;
    min-height: 100vh;
    display: flex;    
}
.containerE{
    height: 800px;
    width: 1000px;
    background-color:antiquewhite;
    margin: 1px;
    justify-content: space-around;
    align-self: center;
    padding: 20px;
    display: flex;
    border-radius: 10px;


}

.left{
    height: 600px;
    width: 350px;
    background-color:antiquewhite;
}
.right{
    height: 750px;
    width: 450px;
    background-color: gray;
    margin-top: 20px;
    border-radius: 10px;
    justify-content: center;
    position: relative;
}
.one{
    margin-bottom: 130px;
    color: black;
}
#after{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300px;
}
.two{
    margin-top: 20px;
    align-items: center;
    flex-wrap: wrap;
    color: black;
    justify-content: space-between;
}
.two .material-symbols-outlined {
    display: inline-block;
    vertical-align: middle; 
}
.three{
    padding: 2px;
    height: 50px;
    width: 290px;
    border-radius: 10px;
}
.four{
    padding: 2px;
    height: 50px;
    width: 290px;
    border-radius: 10px;
}
.five{
    padding: 2px;
    height: 50px;
    width: 290px;
    border-radius: 10px;
}
.three:hover,
.four:hover,
.five:hover {
    background-color: lightgray;
}
.message .material-symbols-outlined {
    display: inline-block;
    vertical-align: middle; 
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 900px,
  'GRAD' 0,
  'opsz' 48
}
.text-with-line {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  
  .line {
    width: 100%;
    height: 2px;
    background-color:black;
    margin-top: 5px;
  }
  /* h2{
    color: rgb(247, 139, 157);
    text-size-adjust: 90px;
  } */
  input{
    margin-top: 5px;
    border: none;
    background: none;
    font-size: 30px;
    border-color: black;
  }
  .response{
    align-items: flex-end;
    justify-content: center;
    margin-top: 530px;
    position: absolute;
    margin-left: 10px;
    bottom: 20px;
    background-color: black;
    border-radius: 10px;

  }
  
  button{
    border-radius: 10px;
    background-color: gray;
    border-color: black;
  }
  button :hover{
    background-color:lightgray;
  }
  
/* button,#send{
    position: absolute;
    bottom: 20px;
    align-self: center;
    margin-left: 80px;
    

} */
.webicons {
    display: flex;
    justify-content: center; 
    align-items: flex-end; 
    margin-top: 285px;
    background-color:black;
    border-radius: 10px;
    border: 5px rgb(247, 139, 157);
}

.webicons ul {
    list-style: none;
    display: flex;
}

.webicons ul li {
    margin-right: 10px; 
}

.webicons ul li img {
    max-width: 100%; 
}
#whatsapp{
    height: 30px;
    width: 30px;
}
#facebook{
    height: 30px;
    width: 30px;
}
#ig{
    height: 30px;
    width: 30px;
}
#twitter{
    height: 30px;
    width: 30px;
}
.pink-text {
    color: pink;
  }
  


  
/*About*/
*{
    background-color: rgb(245, 245, 248);
    padding: 0px;
    margin: 0px;

}
.about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.who{
    background-color: rgb(202, 195, 195);
    width: 100%;
    height: 300px;
    font-size: 20px;
}
.vision{
    background-color: white;
    width: 100%;
    height: 300px;
}
.mission{
    background-color: white;
    height: 300px;
}
.who1{
    background-color: rgb(202, 195, 195);
    height: 300px;
    font-size: 20px;
}
.vision2{
    background-color: rgb(202, 195, 195);
    height: 300px;
    font-size: 20px;
}
.mission3{
    background-color: white;
    height: 300px;
}
.vision img{
    width: 100%;
    height: 300px;
}
img{
    width: 100%;
    height: 300px;
}
p{
    padding: 24px;
    background: rgb(202, 195, 195);
}
h1{
    text-align: center;
}

 
